:root{
font-size: 16px;
font-family: 'Raleway', sans-serif;
--bg-primary: #f8f8f8;
--bg-secunday: #2f4858;
--bg-terciary: #33658a;
--decoracion-1: #F26419;
--decoracion-2: #D5573B;
--decoracion-3: #885053;
--transition-speed: 400ms;
--font-secundary: 'Poppins', sans-serif;
background-color: var(--bg-primary);
text-align: left;
}

main{
    margin-top: 3.5rem;
    /* margin-left: 1rem; */
}
.link{
    text-decoration: none;
    color: gray;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    max-width: 10rem;
    text-align: center;

}.link:hover{color:black;}

h1.titulo{
    margin-left: 1rem;
}
.oculto {
    display: none !important;
}
#titulo-principal{ 
    font-size: 5rem;
    text-align: center;
    margin-top: 10rem;
    margin-left: 0;
    color:black;
}



/*#region BODY*/
body{
    color: black;
    background-color: var(--bg-primary);
    margin: 0;
    padding: 0;
    
}
.animate-in{
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}

.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

body::-webkit-scrollbar{
    width: 0.50rem;
}
body::-webkit-scrollbar-track{
    background-color: var(--bg-terciary);
}
body::-webkit-scrollbar-thumb{
    background-color: var(--bg-secunday);
}
/*#endregion*/



/*#region NAVBAR*/
#navbar{
    width: 100%;
    top: 0;
    height: 2.9rem;
    position: fixed;
    overflow: hidden;
    background-color: var(--bg-secunday);
    z-index: 1;
}

.navbar-nav{
    list-style: none;
    height: 2.9rem;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.nav-item{
    height: 100%;
}
/* .nav-item:last-child{
    margin-left: auto;
} */
.nav-link{
    padding: 0rem 1rem;
    color: white;
    font-weight: 200;
    
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background: var(--bg-primary);
    font-size: 1.05rem;
    color: black;
}
/*#endregion*/


/*#region LISTADO ANIMALES*/
    /*#region FILTRO*/
.filter{
    display: inline-block;
    width: 20rem;
    max-width: 20rem;
    position: absolute;
    margin-left: 1.5rem;
}
.filter-select{
    width: 100%;
}
.filter-submit{
    display: block;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    transition: var(--transition-speed);
}
.filter-submit:hover{
    background-color: var(--bg-terciary);
}
/*#endregion*/

.animal-list{
    list-style: none;
    padding: 0;
    display: flex;
    margin-left: 22rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}


.animal-list-item{
    position: relative;
    display: block;
    margin: 5px 3px;
    width: 15rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    background: var(--bg-terciary);
    border-radius: 1rem;
    color: #ffffff;
    text-decoration: none;
}

.list-img{
    object-fit: cover;
    width: 15rem;
    height: 12rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    /* flex-grow: 3; */
}

.animal-list-item span.nombre{
    position: absolute;
    width: 100%;
    top:75%;
    font-size: 1.5rem;
    font-weight: 600;
    flex-grow: 1;
    text-align: center;
}

.animal-list-item span.tipo_necesidad{
    position: absolute;
    text-align: center;
    font-family: var(--font-secundary);
    top:58%;
    left: 0%;
    width: 15rem;
    height: 1.7rem;
    color:rgb(0, 0, 0);
    border-top-left-radius: 20px;   
    border-top-right-radius: 20px;

}

.animal-list-item.adopcion span.tipo_necesidad{
    background-color:var(--decoracion-1);
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
    font-weight: 500;
}

.animal-list-item.transito_vaiven span.tipo_necesidad{
    background-color:var(--decoracion-3);
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
    color: rgb(241, 234, 234);
}

.animal-list-item.transito_urgente span.tipo_necesidad{
    background-color:var(--decoracion-2);
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
}

.animal-list-item a{
    position: absolute;
    display: block;
    text-decoration: none;

    width:100%;
    height:100%;
}
.tooltip-text{
    position: absolute;
    top: 5%;
    background-color: #03071e ;
    opacity: 0%;
    transition: 500ms;
    border-radius: 0.3rem;
}

.fas{
    position: absolute;
    font-size: 2.5rem;
    opacity: 0.6;
    top: 0.05rem;
    right: 0.05rem;
    background-color: black;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.animal-list-item a:hover + .tooltip-text{
    opacity: 80%;
}

/*#endregion*/

/*#region FORM ANIMAL*/
.form-animal{
    margin-left: 20rem;
    margin-right: 20rem;
    
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

.form-animal.adopcion{
    background-color: var(--decoracion-1);
}

.form-animal.transito{
    background-color: var(--decoracion-2);
}

    /*#region SELECT*/

.form-select {
	display: inline-block;
	font-size: 14px;
	font-family: sans-serif;
    font-weight: 700;
    right: 0%;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
    max-width: 70%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.form-select::-ms-expand {
	display: none;
}
.form-select:hover {
	border-color: #888;
}
.form-select:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.form-select option {
	font-weight:normal;
}

/*#endregion*/

.form-textarea{
    display: block;
    width: 100%;
    font-size: 1.1rem;
}
.form-submit{
    display: block;
    font-size: 1.6rem;
    font-family: var(--font-secundary);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    padding: 1rem;
    border-radius: 1.5rem;
    transition: var(--transition-speed);
}

.form-animal-label{
    display:inline-block;
    width: 5.8rem;
    margin-left: 1.5rem;
}

.form-submit:hover{
    background-color: var(--bg-terciary);
}
/*#endregion*/

/*#region FORM LOGIN*/
.form-login{
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-login label{
    display: inline-block;
    width: 10rem;
    text-align: right;
}

.form-login input[type=submit]{
    font-size: 1.2rem;
}

.error-login{
    background-color: red;
    color: white;
}


/*#endregion*/
/*#region PERFIL*/
.contenedor-perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor-perfil section{
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;
}
.contenedor-perfil > *{
    display: inline-block;
    width: 50%;
}

h1.nombre{
    text-align: center;
}

.link-publicaciones{
    text-decoration: none;
    text-align: center;
    display:  block;
    background-color: var(--bg-secunday);
    color: white;
    font-size: 1.5rem;
    padding: 0.3rem;
    transition: var(--transition-speed);
}.link-publicaciones:hover{
    padding: 0.4rem;
    background-color: var(--bg-terciary);

}

.link-cerrar-sesion{
    margin-top: 2rem;
    text-decoration: none;
    text-align: center;
    display:  block;
    background-color: var(--decoracion-2);
    color: black;
    font-size: 1rem;
    padding: 0.3rem;
    transition: all var(--transition-speed);
}.link-cerrar-sesion:hover{
    color: white;
    background-color: red;

}
/*#endregion*/

/*#region DETALLE ANIMAL*/
.contenedor-animal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;

}
.contenedor-animal section{
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;
}
.contenedor-animal > *{
    display: inline-block;
    width: 90%;
}

.img-animal{
    border-top: 0.3rem solid black;
    border-bottom: 0.3rem solid black;
    object-fit: contain;
    border-radius: 0.5rem;
}

h1.nombre{
    text-align: center;
}
.contenedor-animal .descripcion-animal{
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;
}
.contenedor-animal .descripcion-animal span{
    max-width: 70%;
    text-align: center;
}
.contenedor-animal section.informacion-contacto{
    line-height: 0.5rem;
    border-top: 0.2rem solid var(--bg-terciary);
    margin-top: 2rem;
}
section.solicitud{
    border-top: 0.2rem solid var(--bg-secunday);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom: 0.3rem solid var(--bg-secunday);
}
section.solicitud.adopcion{
    background-color: var(--decoracion-1);
}section.solicitud.transito_vaiven{
    background-color: var(--decoracion-3);
}section.solicitud.transito_urgente{
    background-color: var(--decoracion-2);
}

section.solicitud textarea{
    width: 28rem;
    height: 7rem;
    border: 0.2rem dotted gray;
    border-radius: 0.8rem;
}section.solicitud textarea:hover{
    border: 0.2rem solid gray;
}
.solicitud-submit{
    display: block;
    font-size: 1rem;
    font-family: var(--font-secundary);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.2rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition: var(--transition-speed);
}.solicitud-submit:hover{
    border-radius: 1.5rem;
    border: 0.1rem solid black;
    padding-top: 0.7rem;
    background-color: var(--bg-primary);
}

/*#endregion*/

/*#region ANIMALES PUBLICADOS*/
.animales-publicados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.animal-publicado{
    position: relative;
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;
}

.animal-publicado h2{
    margin-top: 0;
    margin-bottom: 0.1rem;
}

.img-animal.miniatura{
    width: 100%;
    height: 20rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    border-bottom: 0.1rem solid black;
}

.solicitudes-animal{
    display: block;
    margin-bottom: 5rem;
    height: 1.5rem;
    width: 90%;
    list-style: none;
    overflow: hidden;
}

.solicitudes-animal h3{
    margin: 0;
    display: inline-block;
    align-self: flex-start;
    justify-self: flex-start;
    border-radius: 1rem;
}.solicitudes-animal:hover{
    background-color: var(--bg-primary);
    cursor: pointer;
    height: unset;
}
.solicitud-animal{
    margin-left: 1rem;
}

.animal-publicado input{
    
    border-radius: 0.3rem;
   
}
.submit-concretar{
    position: absolute;
    top: 2rem;
    right: 0rem;
    width: 12rem;
    font-size: 1.1rem;
}.submit-concretar:hover{
    background-color: var(--bg-terciary);
    padding: 0.15rem;
    color: white;
}

.submit-eliminar{
    position: absolute;
    top: 4.5rem;
    right: 0rem;
    font-size: 1rem;
    width: 10rem;
}.submit-eliminar:hover{
    background-color: red;
    color: white;
}

.animal-publicado span{
    width: 24%;
    display: inline-block;
}



/*#endregion*/

.altaOK{
    margin-top: 10rem;
    font-size: 120%;
    text-align: center;
}